[data-viz='action'] {
  color: var(--viz-color-fg);
  display: flex;
  flex-direction: row;
  gap: 1ch;
  align-items: baseline;
  justify-content: flex-start;

  &[data-viz-action] {
    &:before {
      content: attr(data-viz-action) ' / ';
      font-size: var(--viz-font-size-sm);
      text-transform: uppercase;
      font-weight: bold;
      opacity: 0.5;
      display: inline-block;
      white-space: nowrap;
    }
  }
  & > button {
    padding: 4px 11px;
    position: absolute;
    right: 0px;
    top: -40px;
    max-width: 220px;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
    white-space: nowrap;
    direction: rtl;
    text-align: left;

    --viz-transition-color: var(--viz-color-active);
    display: block;
    border-radius: 1rem;
    background-color: var(--viz-transition-color);
    -webkit-appearance: none;
    appearance: none;
  }
}

[data-viz='action-type'] {
  font-size: var(--chakra-fontSizes-xs);
  max-width: 15ch;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
